/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Feb-2017, 13:16:46
    Author     : David
*/

.root{
    /*-fx-background-color: #a6a6a6;*/
}

#PRODUCT_BUTTON{
    -fx-text-fill: black;
    -fx-font-family: "Tahoma";
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(#999, #999);
    /*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

.button{
    -fx-font-family: "Tahoma";
    -fx-font-size: 20px;
}

.button:pressed{
    -fx-background-color: linear-gradient(#777, #777);
}

#productButton{
    -fx-background-color: #2a5be7;
    -fx-text-fill: white;
}

#cRed{
    -fx-background-color: red;
    -fx-text-fill: white;
}

#cRed:hover{
    -fx-background-color: #c11e1e;
}

#productsgrid{
    -fx-background-color: transparent;
}

#productButton:pressed{
    -fx-background-color: #1a27ac;
}

#bottom{
    -fx-background-color: #2a5be7;
    -fx-text-fill: white;
}

#bottom:hover{
    -fx-background-color: #0735b9;
}

#red{
    -fx-background-color: red;
    -fx-text-fill: white;
}

#red:pressed{
    -fx-background-color: darkRed;
}


#paymentMethods{
    -fx-background-color: #2a5be7;
    -fx-text-fill: white;
}

#paymentMethods:hover{
    -fx-background-color: #1a27ac;
}

#payRed{
    -fx-background-color: red;
    -fx-text-fill: white;
}

#payRed:hover{
    -fx-background-color: #c11e1e;
}

#reporting{
    -fx-background-color: orange;
    -fx-text-fill: black;
}

#total{
    -fx-font-size: 28px;
    -fx-font-family: "Tahoma";
    -fx-background-color: transparent;
}

#toplabel{
    -fx-font-size: 15px;
    -fx-font-family: "Tahoma";
}

#timeLabel{
    -fx-font-size: 15px;
    -fx-font-family: "Tahoma";
    -fx-alignment: center;
}

#PAYMENT_LIST{
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-size: 28;
}

#blue{
    -fx-background-color: #2a5be7;
    -fx-text-fill: white;
}

#blue:pressed{
    -fx-background-color: #0735b9;
}

/*#number{
    -fx-background-color: #2a5be7;
    -fx-text-fill: white;*/
/*}*/

#number:hover{
    /*-fx-background-color: #0735b9;*/
}

#keyboard{
    -fx-background-color: #2a5be7;
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-size: 28;
}

#keyboard:pressed{
    -fx-background-color: #1a27ac;
}

.table-view{
    /*-fx-background-color: transparent;*/
}

.table-view:focused{
    /*-fx-background-color: transparent;*/
}

.table-view .column-header {
    -fx-background-color: transparent;
} 

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-view .table-cell{
    -fx-font-family: "Tahoma";
    -fx-font-size: 20px;
    -fx-font-color: black;
}

.table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
    -fx-font-color: black;
}

.table-row-cell:odd{
    -fx-background-color: lightgrey;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
    -fx-font-color: black;
}

.table-row-cell:selected {
    -fx-border-color: lightblue;
    -fx-border-width:2.0;
    -fx-font-fill: black;
    -fx-background-color: darkgrey;
}
.table-row-cell:hover {
    -fx-background-color: gray;
    -fx-font-fill: black;
}

.table-row-cell:focused {
    -fx-font-fill: black;
}