/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Feb-2017, 13:16:46
    Author     : David
*/

.root{
    /*    -fx-background-image: url("background.bmp");
        -fx-background-size: cover;*/
}

.label {
    /*    -fx-font-size: 12px;
        -fx-font-weight: bold;
        -fx-text-fill: #333333;
        -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/*.button:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}*/

.button:pressed{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.togglebutton{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.togglebutton:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#payment{
    -fx-background-color: linear-gradient(#0000FF, #0000AA);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#payment:pressed{
    -fx-background-color: linear-gradient(#0000AA, #0000FF);
}

#logoff{
    -fx-background-color: linear-gradient(#FF0000, #AA0000);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#logoff:pressed{
    -fx-background-color: linear-gradient(#AA0000, #FF0000);
}

#PAYMENT_LIST{
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-size: 28;
}