/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Feb-2017, 13:16:46
    Author     : David
*/

.root{
    -fx-background-color: #343434;
}

.button{
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-background-color: linear-gradient(#999, #999);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/*.button:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}*/

.togglebutton{
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-background-color: linear-gradient(#999, #999);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.togglebutton:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#productButton{
    -fx-background-color: #2a5be7;
}

#bottom{
    -fx-background-color: green;
}

#red{
    -fx-background-color: red;
}

#paymentMethods{
    -fx-background-color: #2a5be7;
}

/*.button:pressed{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}*/

/*#payment{
    -fx-background-color: linear-gradient(#0000FF, #0000AA);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#payment:pressed{
    -fx-background-color: linear-gradient(#0000AA, #0000FF);
}

#logoff{
    -fx-background-color: linear-gradient(#FF0000, #AA0000);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#logoff:pressed{
    -fx-background-color: linear-gradient(#AA0000, #FF0000);
}*/

#PAYMENT_LIST{
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-size: 28;
}

.table-view{
    /*-fx-background-color: transparent;*/
 }

.table-view:focused{
    /*-fx-background-color: transparent;*/
}

.table-view .column-header {
     -fx-background-color: transparent;
} 

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

.table-view .column-header-background .label{
     -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:20px;
    /* -fx-text-fill:orange; */

}

.table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: darkgrey;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;  
}

.table-row-cell:selected {
    /*-fx-border-color: darkgray  ;
    -fx-border-width:2.0;*/
}

.table-row-cell:hover {
    -fx-background-color: gray;
}

.table-row-cell:focused {
    /*-fx-background-color:purple;*/
}